@use 'reset';

body {
  background: #fafafa;
  padding: 0 75px;
  min-height: 100vh;
}

h1, h2, h3 {
  text-transform: uppercase;
}

header {
  padding-top: 65px;
  padding-bottom: 60px;
}

h1 {
  font-size: 25px;
  font-weight: 600;
}

#hero {
  display: flex;
  align-items: center;
  padding-left: 100px;
  border: 2px solid #212121;
  min-height: 75vh;

  div {
    h2 {
      font-size: 150px;
      font-style: italic;
      font-weight: 700;

      &:nth-of-type(2) {
        margin-top: -50px;
      }

      span {
        font-size: 220px;
        position: relative;
        top: 25px;
        margin-top: -50px;
      }
    }

    height: 100%;
  }
}

#services {
  h3 {
    font-size: 20px;
    display: inline-block;
    margin-right: 4px;
  }

  span {
    position: relative;
    margin-right: 4px;
    bottom: 2px;
  }
}