@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background: #fafafa;
  padding: 0 75px;
  min-height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3 {
  text-transform: uppercase;
}

header {
  padding-top: 65px;
  padding-bottom: 60px;
}

h1 {
  font-size: 25px;
  font-weight: 600;
}

.rectangle {
  border: 2px solid #212121;
  height: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

#hero-content {
  display: flex;
  align-items: center;
  padding-left: 100px;
  border: 2px solid #212121;
  min-height: 75vh;
  overflow-x: hidden;

  div {
    font-style: italic;
    
    h2 {
      position: relative;
      z-index: 1;
      font-size: 150px;
      font-weight: 700;
      letter-spacing: -8px;
      color: white;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke: 100%;
      -webkit-text-stroke-color: black;

      @keyframes filling {
        from {
          background-position: center 100%;
        }
        to {
          background-position: center 0%;
        }
      }

      &:nth-of-type(2) {
        margin-top: -66px;
        color: #4db6ac;
      }

      span {
        font-size: 220px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        position: relative;
        top: 25px;
        -webkit-text-stroke-width: 5px;
      }
    }

    #services {
      margin-top: -8px;
      
      h3 {
        position: relative;
        z-index: 1;
        font-size: 25px;
        display: inline-block;
        margin-right: 4px;
      }
      
      span {
        position: relative;
        margin-right: 4px;
        bottom: 2px;
      }
    }
  }

  #bg-img {
    position: fixed;
    top: 8%;
    right: 14%;
    width: 50vw;
    filter: saturate(0);
  }
}

#scroll {
  position: absolute;
  z-index: 1;
  bottom: 12vh;
  background: rgba($color: #000000, $alpha: 0.3);
  right: 25%;
  width: 120px;
  height: 120px;
  font-size: 21px;
  letter-spacing: 1px;
  color: #fafafa;
  text-transform: uppercase;
  border-radius: 50%;
  border: 2px solid #fafafa;
  
  a {
    color: #fafafa;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    background: rgba($color: #fafafa, $alpha: 0.2);
  }
}

.line {
  position: relative;
  top: -2px;
  z-index: 1;
  background: #fafafa;
  padding-top: 8px;
  border-top: 2px solid #212121;
  border-bottom: 2px solid #212121;
}

#gap-cover {
  position: relative;
  z-index: 1;
  height: 300px;
  background: #fafafa;
  scale: 1.02;
}

#about {
  position: relative;
  top: 2px;
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 100px;
  margin-bottom: -110px;

  p {
    margin-bottom: 14px;
  }

  h4 {
    font-size: 50px;
    margin-bottom: 14px;

    span {
      font-size: 30px;
    }
  }

  #about-img {
    text-align: right;
    padding-right: 10%;
    
    img {
      position: relative;
      z-index: 1;
      top: -30px;
      width: 300px;
      padding: 0 22px 0 52px;
      filter: hue-rotate(150deg);
      filter: drop-shadow(-10px -10px);
      -webkit-box-shadow:0px 0px 105px 45px rgba(38,166,153,0.9);
      -moz-box-shadow: 0px 0px 105px 45px rgba(38,166,153,0.9);
      box-shadow: 0px 0px 105px 45px rgba(38,166,153,0.9);
    }
  }
}

#hide-bg-img {
  position: relative;
  top: -5vh;
  height: 2vh;
  background: #fafafa;
  transform: scaleY(1000%);
}

footer {
  position: relative;
  background-color: #fafafa;
  text-align: center;
  padding-top: 275px;
  padding-bottom: 50px;

  a {
    background: #212121;
    padding: 14px 20px 10px;
    height: 100px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 988px) {
  #hero-content {
    padding-left: 42px;

    div {
      h2 {
        font-size: 114px;

        &:nth-of-type(2) {
          margin-top: -10px;
        }

        span {
          font-size: 135px;
          top: 8px;
        }
      }

      #services {
        margin-top: 10px;
      }
    }

    #bg-img {
      position: absolute;
      top: 19%;
      right: 12%;
      opacity: 54%;
    }
  }

  #scroll {
    z-index: -1;
    width: 84px;
    height: 84px;
    background: rgba($color: #000000, $alpha: 0.05);
    color: #212121;
    border-color: #212121;
    font-weight: 600;
    font-size: 12px;
  }

  #gap-cover {
    display: none;
  }

  #about {
    grid-template-columns: 1fr;
    margin-bottom: 155px;
    top: 55px;

    #about-img {
      text-align: center;
      padding-right: 0;

      img {
        width: 240px;
        top: 50%;
      }
    }
  }
}

@media screen and (max-width: 786px) {
  #hero-content {
    min-height: calc(85vh - 112px);

    div h2 {
      font-size: 105px;
    }
  }
  

  #scroll {
    width: 94px;
    height: 94px;
    font-size: 18px;
  }

  #about {
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
  body {
    padding: 40px;
  }

  #hero-content {
    padding-left: 20px;

    div h2 {
      letter-spacing: -1px;
      font-size: 78px;
      -webkit-text-stroke-width: 2px;
      
      &:nth-of-type(2) {
        margin-top: -12px;
      }

      span {
        font-size: 72px;
        top: 3px;
        margin: 0 -4px;
        -webkit-text-stroke-width: 3px;
      }
    }

    #bg-img {
      top: 21%;
      width: 48vw;
    }
  }

  #scroll {
    z-index: 1;
    width: 94px;
    height: 94px;
    font-size: 13px;
  }
}

@media screen and (max-width: 488px) {
  #hero-content div h2 {
    font-size: 68px;
  }

  #scroll {
    width: 82px;
    height: 82px;
    bottom: 12vh;
  }
}

@media screen and (max-width: 430px) {
  header {
    padding-top: 10px;
    padding-bottom: 46px;
    
    h1 {
      font-size: 22px;
    }
  }

  #hero-content {
    div h2 {
      font-size: 62px;
    }
    
    #bg-img {
      top: 23%;
      width: 58vw;
      right: 17%;
    }
  }


  #scroll {
    z-index: -1;
    width: 72px;
    height: 72px;
    font-size: 11px;
    font-weight: 600;
  }
}

@media screen and (max-width: 400px) {
  #hero-content div h2 {
    font-size: 56px;
  }
}

@media screen and (max-width: 380px) {
  body {
    padding: 34px;
  }

  #hero-content div h2 {
    font-size: 54px;

    &:nth-of-type(2) {
      margin-top: -10px;
    }
    
    span {
      font-size: 65px;
    }
  }
}