@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background: #fafafa;
  padding: 0 75px;
  min-height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3 {
  text-transform: uppercase;
}

header {
  padding-top: 65px;
  padding-bottom: 60px;
}

h1 {
  font-size: 25px;
  font-weight: 600;
}

.rectangle {
  border: 2px solid #212121;
  height: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

#hero-content {
  display: flex;
  align-items: center;
  padding-left: 100px;
  border: 2px solid #212121;
  min-height: 75vh;
  overflow-x: hidden;

  div {
    font-style: italic;
    
    h2 {
      position: relative;
      z-index: 1;
      font-size: 150px;
      font-weight: 700;
      letter-spacing: -8px;
      color: white;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke: 100%;
      -webkit-text-stroke-color: black;

      @keyframes filling {
        from {
          background-position: center 100%;
        }
        to {
          background-position: center 0%;
        }
      }

      &:nth-of-type(2) {
        margin-top: -50px;
        color: #757575;
        background-image:  url(/images/pexels-scott-webb-2824173.jpg);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: filling 45s linear forwards;
        animation-iteration-count: 3;
      }

      span {
        font-size: 220px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        position: relative;
        top: 25px;
        -webkit-text-stroke-width: 5px;
      }
    }

    #services {
      margin-top: -8px;
      
      h3 {
        position: relative;
        z-index: 1;
        font-size: 25px;
        display: inline-block;
        margin-right: 4px;
      }
      
      span {
        position: relative;
        margin-right: 4px;
        bottom: 2px;
      }
    }
  }

  #bg-img {
    position: fixed;
    top: 75px;
    right: 14%;
    width: 50vw;
    filter: saturate(0);
  }
}

#scroll {
  position: absolute;
  z-index: 1;
  bottom: 11%;
  background: transparent;
  right: 25%;
  width: 120px;
  height: 120px;
  font-size: 21px;
  letter-spacing: 1px;
  color: #fafafa;
  text-transform: uppercase;
  border-radius: 50%;
  border: 2px solid #fafafa;
  
  a {
    color: #fafafa;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    background: rgba($color: #fafafa, $alpha: 0.2);
  }
}

.line {
  position: relative;
  top: -2px;
  z-index: 1;
  background: #fafafa;
  padding-top: 8px;
  border-top: 2px solid #212121;
  border-bottom: 2px solid #212121;
}

#gap-cover {
  position: relative;
  z-index: 1;
  height: 200px;
  background: #fafafa;
  scale: 1.02;
}

#about {
  position: relative;
  top: 2px;
  height: 500px;
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 100px;

  p {
    margin-bottom: 14px;
  }

  h4 {
    text-align: right;
    font-size: 50px;

    span {
      font-size: 30px;
    }
  }

  #about-img {
    text-align: right;
    
    img {
      position: relative;
      z-index: 1;
      top: -150px;
      width: 525px;
      filter: hue-rotate(150deg);
      filter: drop-shadow(-10px -10px);
    }
  }
}

footer {
  position: relative;
  height: 400px;
  background-color: #fafafa;
}

@media screen and (max-width: 988px) {
  #hero-content {
    padding: 0 42px;

    div {
      h2 {
        font-size: 114px;

        &:nth-of-type(2) {
          margin-top: -10px;
        }

        span {
          font-size: 135px;
          top: 8px;
        }
      }

      #services {
        margin-top: 10px;
      }
    }

    #bg-img {
      top: 19%;
      right: 12%;
      opacity: 54%;
    }
  }

  #scroll {
    z-index: -1;
    width: 84px;
    height: 84px;
    color: #212121;
    border-color: #212121;
    font-weight: 600;
    font-size: 12px;
  }

  #about {
    grid-template-columns: 1fr;

    #about-img img {
      width: 240px;
    }
  }
}

@media screen and (max-width: 786px) {
  #hero-content div h2 {
    font-size: 105px;
  }

  #scroll {
    width: 94px;
    height: 94px;
    font-size: 18px;
  }
}

@media screen and (max-width: 750px) {
  body {
    padding: 40px;
  }

  #hero-content {
    padding-left: 20px;

    div h2 {
      letter-spacing: -1px;
      font-size: 78px;
      -webkit-text-stroke-width: 2px;
      
      &:nth-of-type(2) {
        margin-top: -12px;
      }

      span {
        font-size: 72px;
        top: 3px;
        margin: 0 -4px;
        -webkit-text-stroke-width: 3px;
      }
    }

    #bg-img {
      top: 220px;
      width: 62vw;
    }
  }

  #scroll {
    z-index: 1;
    width: 94px;
    height: 94px;
    bottom: 7%;
    font-size: 13px;
  }
}

@media screen and (max-width: 488px) {
  #hero-content div h2 {
    font-size: 68px;
  }

  #scroll {
    width: 82px;
    height: 82px;
    bottom: 4%;
  }
}

@media screen and (max-width: 430px) {
  header {
    padding-top: 10px;
    padding-bottom: 46px;
  }

  #hero-content div h2 {
    font-size: 62px;
  }

  #bg-img {
    top: 225px;
    right: 3%;
    width: 55vw;
  }

  #scroll {
    z-index: -1;
    width: 72px;
    height: 72px;
    bottom: 10%;
    font-size: 11px;
    font-weight: 600;
  }
}

@media screen and (max-width: 400px) {
  #hero-content div h2 {
    font-size: 56px;
  }
}

@media screen and (max-width: 380px) {
  body {
    padding: 34px;
  }

  #hero-content div h2 {
    font-size: 54px;

    &:nth-of-type(2) {
      margin-top: -10px;
    }
    
    span {
      font-size: 65px;
    }
  }
}